doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    link(rel="stylesheet",href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")

      
  body
    block content

